<nav>
	<button class="headerBackBtn" ng-show="currentPage > 0" ng-click="switchPage(prevPage);">Tillbaka</button>
	<h1>{{ thetitle }}</h1>
</nav>
<div class="spacer"></div>
<div class="row">
	<div class="small-12 columns">
		<div class="form-page-container-outer">
			<form name="memberform" ng-model="memberform" id="memberform" novalidate>
				<div class="form-page-container-inner">
					<div class="form-page form-page-0">
						Förnamn: *
						<input type="text" name="fornamn" ng-model="fornamn" placeholder="Förnamn" required />
						Efternamn: *
						<input type="text" name="efternamn" ng-model="efternamn" placeholder="Efternamn" required />
						Personnummer: *
						<input type="text" name="ssn" ng-model="ssn" ng-pattern="/[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]/" placeholder="YYMMDDXXXX eller YYYYMMDDXXXX" required>
						Kön: *
						<select name="kon" ng-model="kon" required>
							<option value="man">Juridisk man</option>
							<option value="kvinna">Juridisk kvinna</option>
						</select>
						Årskurs: *
						<select name="arskurs" ng-model="arskurs" required>
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
						</select>
						<button ng-click="switchPage(1);" class="right">Fortsätt</button>
					</div>
					<div class="form-page form-page-1">
						Address: *
						<input type="text" name="adress" ng-model="adress1" placeholder="Adress" required>
						C/o:
						<input type="text" name="co" placeholder="C/o" ng-model="adress2">
						Ort: *
						<input type="text" name="ort" ng-model="city" placeholder="Ort" required>
						Telefonnummer: *
						<input type="text" name="tel" ng-model="telnr1" placeholder="070000000" required>
						Alt. telefonnummer:
						<input type="text" name="alttel" placeholder="031000000" ng-model="telnr2">
						Email: *
						<input type="email" name="email" ng-model="email" placeholder="du@example.com" required>
						<button ng-click="switchPage(2);" class="right">Fortsätt</button>
					</div>
					<div class="form-page form-page-2">
						<button ng-click="openInfo()" class="small-12 columns">Information och stadgar</button>
						<div class="row">
							<div class="small-12 columns infoPage">
								<h2>Stadgar</h2>
								<p>Loading...</p>
							</div>
						</div>
						<button class="small-12 columns" ng-disabled="!memberform.$valid" ng-click="submitForm();">Jag accepterar stadgarna och vill bli medlem</button>
					</div>
				</div>
			</form>
			<div ng-show="showSpinner">
				<center>
					<img style="margin-bottom: 30px;" src="img/spinner.gif" alt="" />
				</center>
			</div>
			<div ng-show="showMsg">
				<center>{{ msg }}</center>
			</div>
		</div>
	</div>
</div>